.sidebar {
  border: none;
 
  color: var(--workspace-background);
}

.sidebar-icon {
  color: var(--workspace-background);
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  background-color: var(--workspace-background);
}
